<div id="content-container">
    <div class="container">
        <div class="task-form col-md-10">
            <form class="form-horizontal" >
                    <tabset [justified]="true">
                        <tab>
                            <ng-template tabHeading>
                            <span class="">Basic Data</span>
                            </ng-template>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="email">First Name:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="firstName" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                    <label class="control-label col-sm-2" for="email">First Name:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="lastName" placeholder="">
                                    </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="email">Email:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="email" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="email">Password:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="email" placeholder="">
                                </div>
                            </div>
                            <button class="btn btn-primary" type="button">Save</button>
                            <button class="btn btn-primary" type="button">Cancle</button>
                        </tab>
                        <tab>
                            <ng-template tabHeading>
                                <span class="">Details</span>
                            </ng-template>
                        </tab>
                    </tabset>
            </form>
        </div>
    </div>
</div>






